body {
    background-color: whitesmoke;
  }
  
h1 {
    color: red;
    text-align: center;
    font-family: Garamond;
    font-size: 300%;
  }
  
p {
    font-family: verdana;
    font-size: 20px;
  }

marquee {
  font-family: Garamond;
  font-size: 500%;
  color: chocolate;
}