body {
    background-color: greenyellow;
  }
  
h1 {
    color: green;
    text-align: center;
    font-family: Century;
    font-size: 300%;
  }
  
p {
    font-family: verdana;
    font-size: 20px;
  }