body {
    background-color: #303a30;
    padding: 0;
    margin: 0;
    font-family: verdana;

}
.navbar {
    background-color: #293129;
    height: 60px;
    width: 100vw;
    margin: 0;
    padding-top: 15px;
    padding-left: 20px;
    overflow: hidden;
}
h2 {
    font-size: 1.3em;
    letter-spacing: -1px;
    color: #93b393;
    margin-bottom: 0;
    margin-top: 0;
}
.options {
    display: flex;
    margin-top: -8px;
}
.options > p {
    color: #93b393;
    font-size: 16px;
    text-shadow: 0.3px 0 #000, -0.3px 0 #000, 0 0.3px #000, 0 -0.3px #000,
               0.3px 0.3px #000, -0.3px -0.3px #000, 0.3px -0.3px #000, -0.3px 0.3px #000;
    letter-spacing: -1px;
    margin-right: 28px;
}
.navbar2 {
    height:25px;
    width:100vw;
    background-color: #505a50;
    display: flex;
    overflow: hidden;
    padding-left: 20px;
}
.navbar2 > p {
    color: #93b393;
    margin-right: 25px;
    font-size: 0.8rem;
    margin-top: 2px;
    text-shadow: 0.3px 0 #000, -0.3px 0 #000, 0 0.3px #000, 0 -0.3px #000,
               0.3px 0.3px #000, -0.3px -0.3px #000, 0.3px -0.3px #000, -0.3px 0.3px #000;
    letter-spacing: -1px;
}
.everything {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.taglist {
    background-color: #293129;
    width: 180px;
    padding-left: 0;
    margin-bottom: 0;
}
.taglist > li > h6 {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
}
.taglist > li > .searchbar {
    width: 180px;
    color: #c0c0c0;
    background-color: #303030;
    border: 1px solid #545c54;
    font-size: 0.7em;
    padding: 0
}
.taglist > li > .searchbutton {
    padding-top: 0;
    width: 181px;
    height: 18px;
    margin-top: 2px;
    background-color: #93b393;
    color: #293129;
    font-weight: bold;
    font-size: 0.7em;
}
a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    
}
li {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
.counter {
    color: #878787;
    font-size: 0.7em;
    letter-spacing: -1px;
    margin: 0;
    padding: 0;
}
.tag-copy {
    color: #f09ef0;
}
.tag-chara {
    color: #e4e38b;
}
.tag-general {
    color: #a7d79c;
}
.tag-artist {
    color: #f0a0a0;
}
h3 {
    color: #a7d79c;
    font-weight: bold;
    margin: 0;
}  
h5 {
    color: #c0c0c0;
    font-size: 1.1em;
    margin: 0;
    letter-spacing: -1px;
}
h6 {
    color: #c0c0c0;
    font-size: 0.8em;
    margin-top: 10px;
}
.tag {
    font-weight: 550;
    font-size: 0.7em;

}
.move {
    width: 824px;
    height: 40px;
    background-color: #303030;
    margin-left: 15px;
    border: 1px solid #545c54;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
video {
    width: 854px;
    height: 480x;
    margin: 15px 0;
}
.control {
    text-align: center;
    position:relative;
    font-size: 1.1em;
}
.cont {
    color: #93b393;
    font-size: 0.8em;
}
.arrow {
    top: 20%;
}
.searching {
    color: #c0c0c0;
    font-size: 0.8em;
}
.spacing {
    margin-top: 0;
    padding-top: 10px;
}
.spacing > li {
    line-height: 1;
}
.extra-text {
    color: #c0c0c0;
    margin: 0;
    padding: 0;
    line-height: 0%;
}
.cum {
    color: #a7d79c;
}
#icame {
    margin-top: 10px;
}